:root{
    --heading-font: 'Poppins', sans-serif;
    --text-font: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --body-font: 'Poppins', sans-serif;

    --primary-color: #367BF5;
    --secondary-color: #F3AA18;
    --black-color: #000;
    --lightblack: #222222;
    --white-color: #fff;
    --darkgrey: #868686;
    --lightgrey: #636363;
    --green: #069697;
    --red: #EA3D2F;
}
body > section{
    width: 100%;
    position: relative;
    background: #FFFFFF;
}
body > section:nth-child(even) {
    background: #ECE8E0;
}
.py-80 {  /* vertical padding for sections  */
    padding-top: 80px;
    padding-bottom: 80px;
}

.px-120 {  /*  horizontal padding for sections  */
    padding-left: 120px;
    padding-right: 120px;
}

h2{
    font-size: 30px;
    line-height: 42px;
    color: #000000;
    font-weight: 400;
    font-family: var(--heading-font);
}